PORT={{ backend_port }}
LOG_LEVEL=info
NODE_ENV=production
KDB_HOST={{ (ssm_result.results | selectattr('item', 'eq', '/pv/kdb/host') | first).value }}
KDB_PORT={{ (ssm_result.results | selectattr('item', 'eq', '/pv/kdb/port') | first).value }}
REDIS_URL={{ (ssm_result.results | selectattr('item', 'eq', '/pv/redis/url') | first).value }}
